<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link rel='stylesheet' href='/public/css/style.css' />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/dashboard'>Dashboard</a></li>
        <li><a href='#' id='logout'>Logout</a></li>
      </ul>
    </nav>

    <header>
      <h1><a href='/dashboard'>Your Dashboard</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <a href='/dashboard/new'>New Post</a>
    </footer>
  </body>

</html>
<script src='/public/js/logout.js'></script>