<div>
  <div>
    <h2>Login</h2>
  </div>
  <form id='login-form'>
    <div>
      <label for='username-login'>Username</label>
      <input type='text' id='username-login' />
    </div>
    <div>
      <label for='password-login'>Password</label>
      <input type='password' id='password-login' />
    </div>
    <button type='submit' id='login-btn' class='btn'>Login</button>
    <button id='login-btn'><a href='/signup'>Signup</a></button>
  </form>
</div>

<script src='/js/login.js'></script>