body,
h1,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: font-size 0.2s;
}

nav a:hover {
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer button a {
  text-decoration: none;
  color: #333;
}

footer button:hover {
  background-color: #444;
}

h1 a {
  text-decoration: none;
  color: white;
}

#login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  margin: 0 auto;
}

#login-form label {
  display: block;
  margin-bottom: 5px;
}

#login-form input[type='text'],
#login-form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-btn a {
  text-decoration: none;
  color: inherit;
}

#login-btn:hover {
  background-color: #444;
}

#create-account-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
}

#signup-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 300px; /* Adjust as needed */
  margin: 0 auto;
}

#signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

#signup-form label {
  display: block;
  margin-bottom: 5px;
}

#signup-form input[type='text'],
#signup-form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#signup-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#signup-btn:hover {
  background-color: #444;
}

#login-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
}

h2 {
  text-align: center;
}

#new-post {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 500px; /* Adjust as needed */
  margin: 0 auto;
}

#new-post label {
  display: block;
  margin-bottom: 5px;
}

#new-post input[type='text'],
#new-post textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#new-post button[type='submit'] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#new-post button[type='submit']:hover {
  background-color: #444;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.post-link {
  text-decoration: none;
  color: #333;
  display: block;
}

.post-title {
  font-weight: bold;
}

.post-date {
  color: #888;
}

#edit-post {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;
}

#edit-post h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#update-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#delete-btn {
  background-color: #cc0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#delete-btn:hover {
  background-color: #ff0000;
}

.post-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.post h2 a {
  text-decoration: none;
  color: #333;
}

.post-info {
  margin-top: 10px;
  color: #888;
}

.post-body {
  margin-top: 10px;
}

.single-post article {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}
